.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Observations-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: inherit;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-img-top {
  width: 45vh;
  height: 15vw;
  object-fit: cover;
  background-color: darkgrey;
}

.card-img-observation {
  width: 45vh;
  height: 15vw;
  background-color: darkgrey;
}

.card-img-cutout-dir {
  width: 30vh;
  height: 14vw;
  background-color: darkgrey;
}

.card-dataproduct {
  display: flex;
  object-fit: cover;
  background-color: lightgrey;
}

.image-invert { filter: invert(100%); }
.image-saturate { filter: saturate(3); }
.image-grayscale { filter: grayscale(100%); }
.image-contrast { filter: contrast(160%); }
.image-brightness { filter: brightness(0.25); }
.image-blur { filter: blur(3px); }
.image-invert { filter: invert(100%); }
.image-sepia { filter: sepia(100%); }
.image-huerotate { filter: hue-rotate(180deg); }

.aladin {
  width: 100%;
  height:600px;
}
